[submodule "coqutil"]
	path = coqutil
	url = https://github.com/mit-plv/coqutil
[submodule "canonical-binary-tries"]
	path = canonical-binary-tries
	url = https://github.com/xavierleroy/canonical-binary-tries
